<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <title>Curiosidades Felinas</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="css/styles.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Merriweather:400,700" rel="stylesheet" type="text/css">
</head>

<body>
    <nav class="navbar navbar-dark navbar-static-top navbar-expand-md">
        <div class="container">
            <button type="button" class="navbar-toggler collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"> <span class="sr-only">Toggle navigation</span>
            </button> <a class="navbar-brand" href="#">Pensando em ter um Gato?</a>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav mr-auto">
                    <li class="active nav-item"><a href="/" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item"><a href="/cats" class="nav-link">Cats</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="jumbotron">
        <div class="container">
            <h1>Quer Saber Mais Sobre Gatos?</h1>
            <p>Esta preparado para o aprendizado?</p>
            <br>
            <p><a class="btn btn-primary btn-lg" href="/cats" role="button">Cat Infos</a>
            </p>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h3>Nem todos São iguais</h3>
                <p>Gatos têm uma linguagem corporal sofisticada: o humor deles pode ser inferido pelo movimento dos rabos, os pelos ouriçados, a posição das orelhas e dos bigodes. O ronronar do gato, por exemplo, normalmente (mas nem sempre) indica contentamento.
                </p>
            </div>
            <div class="col-lg-6">
                <h3>Eles são independentes</h3>
                <p>A independência deles, que muitos enxergam como bônus, é frequentemente associada a egoísmo e individualismo. Os detratores dos felinos argumentam que eles só mostram afeição para obter comida.
                </p>
            </div>
        </div>
    </div>
</body>

</html>